body {
  background-image: url("https://lh3.googleusercontent.com/4I4XB51OZpQL-JuSUcd8yrchFvAXJrK405d6CtVX9hXOqAC4vFTeuwFACbVzPSCOEeRtMHlLqA33rvlcnGb3FPTSfOuusljfWH9sf1U45Aaq=e365-w1922");
  background-repeat: repeat-y;  
}

.btn-search {
  background-image: url(./pokeball.ico);
  background-repeat: no-repeat;
  background-position: 291px ;
  padding: 65px;
  border-radius: 84px;
  margin-left: 10px;
  border: 2px solid white;
}

.btn-search:hover {  
  border: 2px solid green;
  transition: all 300ms;  
}

.status {
  color: #DC3646;
  color: black;
}

.status span {
  background-color: #DC3646;
  border-radius: 10px;
  min-width: 50px;
  color: white;
}

.info-moreInfo {
  background-color: #DC3646;
  border-radius: 10px;  
  min-width: auto;
  padding: 20px;
  color: white;
}

.render-type {   
  background: linear-gradient(to bottom, #3c9a2c, #3eb1b5); 
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 5px;  
}

.arrow {
  color: white;
}

.card-more-info {
  background: linear-gradient(to bottom, #3c9a2c, #3eb1b5); 
}


@media (max-width: 400px){

  .btn-search {   
    background-position: 0px;    
  }
} 

